.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 80%;
  overflow: hidden;
  padding: 10px;
}

.graph-section {
  width: 50%; /* 60% of the width for the graphs */
  overflow-y: auto; /* Allow the graph section to scroll if necessary */
}

.card-table-section {
  width: 50%; /* 38% of the width for cards and table */
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  app-stock-table{
    width: 100%;
    padding-top: 2%;
  }
}

.graph-container {
  transform: scale(0.7); /* Reduce graph size to fit */
  margin-top:-10%;
  margin-left:-18%;
}

.flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px; /* Add space between rows of graphs */
}

.app-stock-graph {
  width: 200px; /* Set a width for each graph */
  height: 200px; /* Set a height for each graph */
}

.header{
  left: 2%;
  width: 10%;
  text-align: center;
  font-weight: 700;
}
.flex {
  display: flex;
}
