<div class="flex">
  <h1 class="header">Personal Stock View</h1>
<app-stock-card (stockSelected)="onStockSelected($event)"></app-stock-card>
</div>
<div class="main-container">
  <!-- left section: Cards and Table -->
  <div class="card-table-section">
    <app-stock-table
      [tableData]="stockData"
      [displayedColumns]="columnsToDisplay"
      [columnLabels]="columnLabels"
    ></app-stock-table>
    <app-stock-table
      [tableData]="dummyStockData"
      [displayedColumns]="columnsToDisplay"
      [columnLabels]="columnLabel1"
    ></app-stock-table>
  </div>

  <!-- right section: Graphs -->
  <div class="graph-section">
    <div class="graph-container">
      <div class="flex">
        <div>
          <app-stock-graph *ngIf="graphStockData.length > 0" [stockData]="graphStockData" [graphsName]="['SUZLON']"></app-stock-graph>
        </div>
        <div>
          <app-stock-graph *ngIf="graphStockData.length > 0" [stockData]="graphStockData" [graphsName]="['AMAZON']"></app-stock-graph>
        </div>
      </div>

      <!-- <div class="flex">
        <div>
          <app-stock-graph *ngIf="graphStockData.length > 0" [stockData]="graphStockData" [graphsName]="['GNRL']"></app-stock-graph>
        </div>
      </div> -->

      <div class="flex">
        <div>
          <app-stock-graph *ngIf="graphStockData.length > 0" [stockData]="graphStockData" [graphsName]="['BSE']"></app-stock-graph>
        </div>
        <div>
          <app-stock-graph *ngIf="graphStockData.length > 0" [stockData]="graphStockData" [graphsName]="['RattanPower']"></app-stock-graph>
        </div>
      </div>
    </div>
  </div>


</div>
